*, *::after, *::before {
    box-sizing: border-box;
}

#game-ui {
    margin:auto;
    text-align: center;
}

#main-menu
{
  padding: 20%;
  text-align: center;
  position: fixed;
  float: center;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.8;
  z-index: 10;
}


#ai-selection-menu 
{
  width: 5%;
  height: 35%;
  position: fixed;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  float: center;
  display: none;
  padding: 7%;
}

#char1-ai-selection
{
    width: 5%;
    height: 30%;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    float: center;
    display: block;
    padding: 5%;
}

#char2-ai-selection
{
    width: 5%;
    height: 30%;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 75%;
    transform: translateY(-50%);
    float: center;
    display: block;
    padding: 5%;
}

#start-btn {
    display: none;
}


/*Menu Buttons*/

#pvp-choice-btn {
    float:center
}

#start-btn
{
    display: none;
}

#map {
    /*width: 600px;*/
    /*height: 450px;*/
    outline: 2px solid goldenrod;
    border : 5px solid firebrick;
    margin-left: 25%;
    position: absolute;
}

.character {
    position: absolute;
    z-index: top;
    float: left;
}


#character1 
{
    background-color: darkgreen;
}

#character2 
{
    background-color: steelblue;
}

#character-im1
{
    position: relative;
    width: 20px;
    height: 30px;
    background-color: darkgreen;
}

#character-im2 
{
    position: relative;
    width: 20px;
    height: 30px;
    background-color: steelblue;
}





/*
mainMenu      main-menu
menubuttons   gamemode-choice-btns
chooseAi      ai-selection-menu
startButton   start-btn
*/